.WriteTask {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 20px;
}

.WriteTask form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.WriteTask input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.WriteTask select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.WriteTask button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.WriteTask button[type="submit"]:hover {
    background-color: #106ebe;
}

.dropdown {
    padding: 10px;
}